.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    .form-control {
        padding: 10px;
    }

    .label {
        width: 120px;
        display: flex;
        align-items: center;
    }
}

.btn-login {
    padding: 10px 20px;
}